/* .logoImg{
    width: 16%;
   padding: 0px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    /* border-radius: 100px; */
  /* } */

  /* .container{
    max-width: 1200px;
    width: 1000px;
    margin: auto;
}
img{
    max-width:90%;
    
   
  }
  .menu{
    display: flex;
    order: 2;
  } */ 
